@CHARSET "EUC-KR";


.padding-zero {
	padding: 0px;
}

.btnLevel {
	margin-top: 5px;
}

.mentor-filter {
	
	padding-bottom: 0px;
	margin-bottom:3px;
	/* border-bottom: 0.3px solid gray; */
	
}

.com-filter{
	padding-bottom: 10px;
	border-bottom: 0.3px solid gray;
}

